@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vault-bg: #1E1B2D;
  --vault-accent: #C084FC;
}

body {
  background-color: var(--vault-bg);
  color: white;
  min-height: 100vh;
}
